// Переменные
$base-color: #006666;
$border: $base-color 1px solid;
$background: rgba(0, 0, 0, .7);
$br: 7px;
$boxShadow: inset 0 0 3px #00cccc;
$textShadow:
        #000 1px 1px 0,
        #000 -1px -1px 0,
        #000 1px -1px 0,
        #000 -1px 1px 0;
$LED: LED;

// Импорты компонентов
@import
"styles/player",
"styles/networks",
"styles/cpu",
"styles/topapps",
"styles/date",
"styles/network_stat",
"styles/weather",
"styles/timer",
"styles/cpu_graph",
"styles/volumes",
"styles/calendar";

// Глобальный сброс
* {
  all: unset;
  padding: 0;
  margin: 0;
}

// Базовые стили контейнеров
.stuff {
  border: $border;
  background: $background;
  border-radius: $br;
}

// Стили тултипов
tooltip {
  @extend .stuff;
  padding-top: 10px;
  margin-top: 5px;
}