// Calendar
.cal {
  background-color: $background;
  border: $border;
  border-radius: $br;
  padding: 5px;
  font: normal 20px LED, Ubuntu, serif;
}

calendar,
calendar.button {
  color: #fff;
}

calendar:selected {
  color: #00cccc;
}

calendar.header,
calendar.highlight {
  color: #ccc;
  font-weight: bold;
}

calendar:indeterminate {
  color: #777;
}
