.cal {
  background-color: $background;
  border: $border;
  border-radius: $br;
  padding: 5px;
  font: normal 1.56rem LED, "Ubuntu", system-ui, sans-serif;

  calendar {
    &, &.button {
      color: #fff;
    }

    &:selected {
      color: #00cccc;
    }

    &.header, &.highlight {
      color: #ccc;
      font-weight: bold;
    }

    &:indeterminate {
      color: #777;
    }
  }
}