.cpustuff {
  padding: 5px 0 4px 0;
  margin: 5px 0 0 0;

  .metric {
    padding: 0 10px;

    .label {
      //font-family: "Ubuntu Mono", serif;
      font-family: "JetBrainsMono NF ", serif;
      font-size: 12px;
    }

    $cpu-color-map: (
            CPU1 #ffb4bb rgba(255, 180, 187, 0.3),
            CPU2 #ffe0ba rgba(255, 224, 186, 0.3),
            CPU3 #fffebb rgba(255, 254, 187, 0.3),
            CPU4 #baffc9 rgba(186, 255, 201, 0.3),
            CPU5 #bae1ff rgba(186, 225, 255, 0.3),
            CPU6 #aedfdb rgba(186, 223, 253, 0.3),
            CPU7 #75c8cc rgba(234, 209, 245, 0.3),
            CPU8 #ead1f5 rgba(234, 209, 245, 0.3),
            RAM  #3daee9 rgba(61,  174, 233, 0.3),
            GPU  #d76af9 rgba(215, 106, 249, 0.3)
    );

    @each $class, $color, $bg in $cpu-color-map {
      .#{$class} {
        trough {
          background-color: $bg;
          border-radius: 50px;
          min-height: 8px;
          min-width: 267px;
          margin-left: 10px;
          padding: 0;

          highlight {
            border-radius: 10px;
            background-color: $color;
          }
        }
      }
    }

    .RAM {
      margin-top: 5px;
    }
  }
}
