.sidestuff{
  min-width: 312px ;
}

.time {
  color: #ffffff;
  font-family: $LED;
  font-size: 55px;
  margin-left: 10px;
}

.rightdate {
  padding: 5px 0 0 14px;
}

.date {
  font-family: $LED;
  font-size: 25px;
}

.day {
  all: unset;
  font-family: Ubuntu, serif;
  font-size: 15px;
  padding: 4px 0 0 0;
}