.sidestuff {
  min-width: 312px;

  .time, .date {
    font-family: $LED;
  }

  .time {
    color: #ffffff;
    font-size: 55px;
    margin-left: 10px;
  }

  .rightdate {
    padding: 5px 0 0 14px;
  }

  .date {
    font-size: 25px;
  }

  .day {
    all: unset;
    font: 15px Ubuntu, serif;
    padding-top: 4px;
  }
}