.networks {
  * {
    padding: 0;
    margin: 0;
  }

  border-radius: 7px;

  .network {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    //font-family: "RobotoMono Nerd Font", serif;
    //font-family: "Mortir", serif;
    font-family: "Ubuntu", serif;
    border-radius: $br;
    color: #aaaaaa;
    min-width: 275px;
    //transition: box-shadow .2s;

    &:hover {
      box-shadow: inset 0 0 3px #00cccc;
    }
  }


  .icon {
    font-size: 23px;
    margin-left: 10px;
  }

  .name {
    margin-left: -110px;
    min-width: 120px;
  }


  .on {
    color: #dddddd;
    background-color: rgba(50, 50, 50, .1);

    .icon {
      color: #00cccc;
    }
  }

  .off {
    color: #999999;
    background-color: rgba(50, 50, 50, .0);
  }
}
