.networkstatstuff {
  padding: 5px;
  font-size: 13px;
  min-width: 303px;
  margin: 5px 0 0;

  .totalup, .totaldown {
    margin-right: 5px;
  }
  .totalup {
    color: #baffc9;
  }
  .totaldown {
    color: #ffb4bb;
  }
  .icon {
    margin-left: 10px;
    font-size: 16px;
  }

  .label {
  }
}