.timerstuff {
  min-width: 290px;
  margin-top: 5px;
  padding: 0 14px 0 0;

  .timer {
    font-family: $LED;
    font-size: 35px;
  }

  .timer_buttons {
    padding: 5px;

    .set_timer {
      min-width: 20px;
      padding: 7px;
      //border: $border;
      background-color: $background;
      border-radius: $br;
      transition: box-shadow .2s;

      &:hover {
        box-shadow: $boxShadow;
      }
    }

    .set_custom_timer_box {
      border-radius: $br;
      min-height: 33px;
      &:hover {
        background-color: $base-color;
      }
      .set_custom_timer {
        margin-right: -125px;
        padding-left: 5px;
        border-bottom: $border;

      }
    }
  }

}
