.weathernow,
.weather_by_time_list,
.weather_by_days_list {
  min-width: 290px;
  margin-top: 5px;

  &.weather_by_time_list,
  &.weather_by_days_list {
    min-width: 300px;
    padding-bottom: 10px;
  }

  &.weather_by_days_list {
    padding-bottom: 5px;
  }
}

.weathernow {
  padding-right: 14px;

  .temperature,
  .comfort {
    all: unset;
    font-family: $LED;
    color: #00cccc;
    margin-left: 10px;
  }

  .temperature {
    font-size: 55px;
  }

  .comfort {
    color: #dddddd;
    font-size: 35px;
    margin: -25px 0 0 -30px;
    text-shadow: $textShadow;
  }

  .weather_icon {
    margin-top: 10px;
  }

  .right_part {
    .wind_arrow {
      font: 35px Arrows, serif;
      margin: 5px -10px 0 0;
    }

    .wind_speed,
    .wind_unit,
    .pressure_value,
    .pressure_unit {
      font-family: $LED;
    }

    .wind_speed { font-size: 25px; }
    .wind_unit {
      font-size: 15px;
      padding: 9px 0 0 3px;
    }

    .pressure {
      margin-top: -12px;

      .pressure_value { font-size: 20px; }
      .pressure_unit {
        font-size: 10px;
        padding: 9px 0 0 5px;
      }
    }

    .description {
      margin-top: -3px;
    }
  }
}

.weatheritem {
  min-width: 59px;
  margin: 5px 0 0 -7px;
  padding: 10px 0 0 10px;

  .listicon { margin-top: 3px; }
  .wtime,
  .temp {
    font-size: 12px;
    margin-top: -7px;
  }

  .temp { margin-top: 3px; }
}

.weather_by_days_list {
  .temp,
  .tempn {
    font-size: 11px;
    text-shadow: $textShadow;
  }

  .temp { margin-left: -10px; }
  .tempn { margin-left: 10px; }
}